body {
    background-color: #ECDFCC;
    color: #1E201E

}

section {
    background: #697565
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content:center;
    padding-right: 20px;
    padding-left: 20px;
 }

 .chamada-texto {
    margin-right: 5%;
 }

 img{
    height: 200px;
 }


.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}