body {
    background-color: #64553e;
    color: #1E201E
    font-family: sans-serif;

}

.chamada {
    background: #79a86a
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content:center;
    
 }

 .categoria {
    padding-right: 20px;
    padding-left: 20px;
 }
 
 .chamada-texto {
    margin-right: 5%;
 }

 img{
    height: 200px;
 }


.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}